code {
  font-size: 150%;
}

ul {
  padding: 10px 0 10px 60px;
}

.slide {
  background-color: white;
}

.slide-content {
  width: 1000px;
  overflow: visible;
}

.hljs-attr {
  color: #0086b3;
}

.slide.image .slide-content {
  width: 100%;
  padding: 0;
}

.slide.image .slide-content img {
  display: block;
  margin: 0 auto;
}
